---
import Card from "./Card.astro";
import projects from "../data/projects";
import ProjectCard from "./ProjectCard";
---

<div class="container">
  <div role="list" class="link-card-grid">
    <h2 class="color-blue t-subtitle pb-4">Proyectos Personales</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        projects.map((project) => (
          <div>
            <Card
        href={project.link}
        title={project.title}
        body={project.description}
        technologies={project.tecnnologies}
        image={project.image}
        details={project.details}
      ></Card>
            
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
	.mapa{
		display: none;
		grid-template-columns: repeat(5, 90px); /* Dos columnas de 120px cada una */
		grid-template-rows: repeat(3, 90px); /* Dos filas de 120px cada una */
		gap: 0;
		overflow: hidden; /* Oculta el sobrante de las columnas */
		position: absolute;
		top: -45px;
		left: -45px;
		height: 55%;
		z-index: -1;
	}
	.mapa::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px; /* Altura del degradado difuminado */
		background: linear-gradient(to bottom, rgba(204, 204, 204, 0), #0a182e) /* Degradado de difuminado */
}
	.cuadrado{
		background-color: #ccc; /* Color de fondo de los cuadrados */
		border: 1px solid #ffffff11;
		background-color: transparent;
	}
	.cuadrado:nth-child(2){
		background-color: var(--bg-blue-transparent);
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	.link-card{
		border-radius: 15px;
		padding: 25px;
		position: relative;
		z-index: 10;
		transition: all 0.5s ease-out;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid #ffffff1e;
	}
	.link-card a{
		height: 100%;
	}
	.links-card img{
		position: relative;
		display: flex;
		z-index: 50;
	}
	.link-card:hover{
		border: 1px solid #ffffff2c;
		
	}
	.link-card:hover .mapa{
		display: grid;
	}
	
	.capsule{
		background-color: #00ffff33;
		color: var(--color-blue);
		padding: 0.3rem 0.5rem;
		font-size: 1rem;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
