---
import Card from "./Card.astro";
import projects from "../data/projects";
import Subtitle from "./Subtitle.astro";
---

<div class="container">
  <div role="list" class="link-card-grid">
    <Subtitle title="Proyectos en los que he participado"></Subtitle>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        projects.map((project) => (
          <div>
            <Card
        href={project.link}
        title={project.title}
        body={project.description}
        technologies={project.tecnnologies}
        image={project.image}
        details={project.details}
      ></Card>
            
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
	
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	.link-card{
		border-radius: 15px;
		padding: 25px;
		position: relative;
		z-index: 10;
		transition: all 0.5s ease-out;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid #ffffff1e;
	}
	.link-card a{
		height: 100%;
	}
	.links-card img{
		position: relative;
		display: flex;
		z-index: 50;
	}
	.link-card:hover{
		border: 1px solid #ffffff2c;
		
	}
	.link-card:hover .mapa{
		display: grid;
	}
	
	.capsule{
		background-color: #00ffff33;
		color: var(--color-blue);
		padding: 0.3rem 0.5rem;
		font-size: 1rem;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
